/* CS21024-ejemplo2b.css   CS21024  */
pais {
  color: black;
  background-color: skyblue;
  text-align: center;
  width: 100%;
}

ejemplo{
  color: gray;
  font-size: 70px;
  font-weight: bold;
  background-color: white;
}

ejemplo{
  font-size: 40px; 
  display: block;
}
nombre{
  color: white;
  font-size: 90px;
  font-weight: bold;
  background-color: gray;
}
nombre,capital,superficie,nombre,moneda,idioma,codigodearea,formadegobierno,gentilicio,totalhabitantes {
  font-size: 40px; 
  font-weight: bold;
  display: block;
}
departamento{
  color: white;
}
departamento {
  display: table-row;
}

nondepa,cabecera, habitantes,altura {
  border: black 1px solid;
  display: table-cell;
}
lista {
  display: table;
  border-spacing: 10px;
  border: black 1px solid;
  margin: 15px auto;
}

nondepa,cabecera, habitantes,altura {
  font-size: 30px; 
  font-weight: bold;
}
